{% block head %}
		<title>Classifier Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/assets/css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static',filename='css/assets/css/noscript.css')}}" /></noscript>
{%endblock %}


{% block body %}
<body>
    <form action="/classifier" method="POST" enctype="multipart/form-data">

            <label class='labelClass' for="clf_choice" style="display: inline; margin-top: 30px;">Which classifier model would you like to use</label>

            <select class='textBox' style="margin-left:45px; display: inline;" name="clf_choice" id="clf_choice">
                <option value="all">Try All</option>
                <option value="SVC">SVC</option>
                <option value="rf">Random Forest</option>
                <option value="knn">KNN</option>
                <option value="tree">Decision Tree</option>
                <option value="logistic">Logistic Classifier</option>
            </select>
            <br>
            <input class='textBox' style="margin-left:275px" type="submit" value="Submit" >
            
    </form> 
</body>
{%endblock%}
